@keyframes fadeIn {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

.View {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  user-select: none;
  box-sizing: border-box;
  /* min-height: 0; */
  /* flex-shrink: 0; */

  &[hidden] {
    display: none;
  }

  .tooltip {
    position: absolute;
    font: 14px/14px var(--default-font);
    background: #495057;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    width: max-content;
    animation: 0.1s ease-in 0.3s backwards fadeIn;
  }

  &:not(:focus-within).borderOnFocus {
    border-color: transparent;
  }
}

.horizontal {
  flex-direction: row;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.opacityOnPress {
  &:active {
    opacity: 0.6;
  }
}

.zindex_1 {
  z-index: 1;
}

.zindex_2 {
  z-index: 2;
}

.zindex_3 {
  z-index: 3;
}

.flex {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.heavyShadow {
  box-shadow:
    0 4px 16px hsla(0, 0%, 0%, 0.25),
    0 0 0 1px hsla(0, 0%, 50%, 0.25);
}

:root[data-theme="dark"] .heavyShadow {
  box-shadow:
    0 4px 16px hsla(0, 0%, 100%, 0.25),
    0 0 0 1px hsla(0, 0%, 50%, 0.25);
}

.shadow {
  box-shadow:
    0 4px 8px hsla(0, 0%, 0%, 0.1),
    0 0 0 1px hsla(0, 0%, 50%, 0.1);
}

:root[data-theme="dark"] .shadow {
  box-shadow:
    0 4px 8px hsla(0, 0%, 0%, 0.2),
    0 0 0 1px hsla(0, 0%, 50%, 0.2);
}

.pointer {
  cursor: pointer;
}
