.Button {
  cursor: pointer;
  // margin: -1px;
  // padding: 9px 16px;

  &:not(.solid):not(.hover) {
    box-shadow: inset 0 0 0 1px hsl(210, 15%, 88%);
  }

  &.primary:not(.solid):not(.hover) {
    box-shadow: inset 0 0 0 1px hsl(210, 85%, 60%);
  }

  &.hover:hover {
    // background: hsl(210, 15%, 93%);
    background: var(--hover-color);
  }

  &:active {
    filter: brightness(0.90);
  }
}
