.Text {
  font-family: var(--default-font);
}

.select {
  user-select: text;
}

.light {
  opacity: 0.7;
}

.lighter {
  opacity: 0.6;
}

.caps {
  text-transform: uppercase;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
