.primary {
  border-color: var(--primary-color);
}

.panel {
  border-color: var(--panel-color);
}

.divider {
  border-color: var(--divider-color);
}

.gutter {
  border-color: var(--gutter-color);
}

.selected {
  border-color: var(--selected-color);
}

.highlight {
  border-color: var(--highlight-color);
}

// 

.transparent {
  border-color: transparent;
}

.gray-0 {
  border-color: hsl(210, 15%, 95%);
}

.gray-1 {
  border-color: hsl(210, 15%, 90%);
}

.gray-2 {
  border-color: hsl(210, 15%, 85%);
}

.gray-3 {
  border-color: hsl(210, 13.79%, 88.63%);
}

.gray-4 {
  border-color: hsl(210, 13.95%, 83.14%);
}

.gray-5 {
  border-color: hsl(210, 10.81%, 70.98%);
}

.gray-6 {
  border-color: hsl(210, 7.08%, 55.69%);
}

.gray-7 {
  border-color: hsl(210, 8.75%, 31.37%);
}

.gray-8 {
  border-color: hsl(210, 10.34%, 22.75%);
}

.gray-9 {
  border-color: hsl(210, 10.81%, 14.51%);
}

//

.green-5 {
  border-color: #51cf66;
}

.green-6 {
  border-color: #40c057;
}
