.primary {
  border-color: var(--primary-color);
}

.panel {
  border-color: var(--panel-color);
}

.divider {
  border-color: var(--divider-color);
}

.gutter {
  border-color: var(--gutter-color);
}

.selected {
  border-color: var(--selected-color);
}

.highlight {
  border-color: var(--highlight-color);
}

// 

.gray-0 {
  border-color: hsl(210, 15%, 95%);
}

.gray-1 {
  border-color: hsl(210, 15%, 90%);
}

.gray-2 {
  border-color: hsl(210, 15%, 85%);
}

// .gray-3 {
//   border-color: hsl(210, 15%, 80%);
// }
