.top {
  border-top: 1px solid var(--divider-color);
}

.bottom {
  border-bottom: 1px solid var(--divider-color);
}

.left {
  border-left: 1px solid var(--divider-color);
}

.right {
  border-right: 1px solid var(--divider-color);
}

.top_bottom {
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}

.top_right_bottom_left {
  border: 1px solid var(--divider-color);
}
