.primary {
  background: var(--primary-color);
}

.content {
  background: var(--content-color);
}

.panel {
  background: var(--panel-color);
}

.divider {
  background: var(--divider-color);
}

.gutter {
  background: var(--gutter-color);
}

.selected {
  background: var(--selected-color);
}

//

.black {
  background: black
}

.white {
  background: white;
}

.gray-0 {
  background: hsl(210, 15%, 95%);
}

.gray-1 {
  background: hsl(210, 15%, 90%);
  background: hsl(210, 15%, 88%);
}

.gray-2 {
  background: hsl(210, 15%, 85%);
  background: hsl(210, 15%, 83%);
}

.blue-5 {
  background: hsl(210, 85%, 60%);
  background: red;
}

$hues: green;

// @each $colors, $hue in open-color.$oc-color-list {
//   @each $level, $color in $colors {
//     .#{$hue}-#{$level} {
//       background: $color;
//     }
//   }
// }

/*

#f1f3f5 hsl(210, 16.67%, 95.29%)
#dee2e6 hsl(210, 13.79%, 88.63%)
#ced4da hsl(210, 13.95%, 83.14%)

*/
