$hues: "red", "pink", "grape", "violet", "indigo", "blue", "cyan", "teal", "green", "lime", "yellow", "orange";

@each $hue in $hues {
  @for $level from 0 through 9 {
    .#{$hue}-#{$level} {
      background: var(--onyx-#{$hue}-#{$level});
    }
  }
}

.primary {
  background: var(--primary-color);
}

.content {
  background: var(--content-color);
}

.panel {
  background: var(--panel-color);
}

.gutter {
  background: var(--gutter-color);
}

.icon {
  background: var(--icon-color);
}

.divider {
  background: var(--divider-color);
}

.selected {
  background: var(--selected-color);
}

.highlight {
  background: var(--highlight-color);
}

//

.black {
  background: black
}

.white {
  background: white;
}

//

.gray-0 {
  background: hsl(210, 16.67%, 97.65%);
  background: oklch(0.9816 0.0017 247.84);
}

.gray-1 {
  background: hsl(210, 16.67%, 95.29%);
  background: oklch(0.9632 0.0034 247.86);
}

.gray-2 {
  background: hsl(210, 15.79%, 92.55%);
  background: oklch(0.9417 0.0052 247.88);
}

.gray-3 {
  background: hsl(210, 13.79%, 88.63%);
  background: oklch(0.9109 0.007 247.9);
}

.gray-4 {
  background: hsl(210, 13.95%, 83.14%);
}

.gray-5 {
  background: hsl(210, 10.81%, 70.98%);
}

.gray-6 {
  background: hsl(210, 7.08%, 55.69%);
}

.gray-7 {
  background: hsl(210, 8.75%, 31.37%);
}

.gray-8 {
  background: hsl(210, 10.34%, 22.75%);
}

.gray-9 {
  background: hsl(210, 10.81%, 14.51%);
}

//

.red-8 {
  background: #e03131;
}

.red-9 {
  background: #c92a2a;
}

//

.pink-8 {
  background: #c2255c;
}

.pink-9 {
  background: #a61e4d;
}

//

.grape-8 {
  background: #9c36b5;
}

.grape-9 {
  background: #862e9c;
}

//

.violet-8 {
  background: #6741d9;
}

.violet-9 {
  background: #5f3dc4;
}

//

.indigo-8 {
  background: #3b5bdb;
}

.indigo-9 {
  background: #364fc7;
}

//

.blue-8 {
  background: #1971c2;
}

.blue-9 {
  background: #1864ab;
}

//

.cyan-8 {
  background: #0c8599;
}

.cyan-9 {
  background: #0b7285;
}

//

.teal-8 {
  background: #099268;
}

.teal-9 {
  background: #087f5b;
}

//

.green-8 {
  background: #2f9e44;
}

.green-9 {
  background: #2b8a3e;
}

//

.lime-8 {
  background: #66a80f;
}

.lime-9 {
  background: #5c940d;
}

//

.yellow-8 {
  background: #f08c00;
}

.yellow-9 {
  background: #e67700;
}

//

.orange-8 {
  background: #e8590c;
}

.orange-9 {
  background: #d9480f;
}
