.primary {
  color: var(--primary-color);
}

.content {
  color: var(--content-color);
}

.text {
  color: var(--text-color);
}

.highlight {
  color: var(--highlight-color);
}

.black {
  color: black;
}

.white {
  color: white;
}

.gray-0 {
  color: hsl(210, 16.67%, 97.65%);
}

.gray-1 {
  color: hsl(210, 16.67%, 95.29%);
}

.gray-2 {
  color: hsl(210, 15.79%, 92.55%);
}

.gray-3 {
  color: hsl(210, 13.79%, 88.63%);
}

.gray-4 {
  color: hsl(210, 13.95%, 83.14%);
}

.gray-5 {
  color: hsl(210, 10.81%, 70.98%);
}

.gray-6 {
  color: hsl(210, 7.08%, 55.69%);
}

.gray-7 {
  color: hsl(210, 8.75%, 31.37%);
}

.gray-8 {
  color: hsl(210, 10.34%, 22.75%);
}

.gray-9 {
  color: hsl(210, 10.81%, 14.51%);
}

//

.blue-5 {
  color: hsl(210, 85%, 60%);
}

.indigo-4 {
  color: hsl(228.09, 95.77%, 72.16%);
}

.green-4 {
  color: hsl(130, 61.29%, 63.53%);
}

.red-4 {
  color: hsl(0, 100%, 76.47%);
}

.grape-4 {
  color: hsl(288.29, 82.55%, 70.78%);
}

.cyan-4 {
  color: hsl(186.75, 68.97%, 54.51%);
}

//

.violet-2 {
  color: #d0bfff;
}

.blue-2 {
  color: #a5d8ff;
}

.teal-2 {
  color: #96f2d7;
}

.lime-3 {
  color: #c0eb75;
}

//

.orange-4 {
  color: #ffa94d;
}
