.primary {
  color: var(--primary-color);
}

.content {
  color: var(--content-color);
}

.text {
  color: var(--text-color);
}

.black {
  color: black;
}

.white {
  color: white;
}

.gray-0 {
  color: hsl(210, 15%, 95%);
}

.gray-1 {
  color: hsl(210, 15%, 90%);
}

.gray-2 {
  color: hsl(210, 15%, 85%);
}

.gray-3 {
  color: hsl(210, 15%, 80%);
}

.gray-4 {
  color: hsl(210, 15%, 75%);
}

.gray-5 {
  color: hsl(210, 15%, 70%);
}

.gray-6 {
  color: hsl(210, 15%, 65%);
}

.gray-7 {
  color: hsl(210, 15%, 30%);
}

.gray-8 {
  color: hsl(210, 15%, 25%);
}

.gray-9 {
  color: hsl(210, 15%, 20%);
}

.blue-5 {
  color: hsl(210, 85%, 60%);
}
