.primary {
  color: var(--primary-color);
}

.content {
  color: var(--content-color);
}

.text {
  color: var(--text-color);
}

.black {
  color: black;
}

.white {
  color: white;
}

.gray-0 {
  color: hsl(210, 15%, 95%);
}

.gray-1 {
  color: hsl(210, 15%, 90%);
}

.gray-2 {
  color: hsl(210, 15%, 85%);
}

.gray-3 {
  color: hsl(210, 15%, 80%);
}

.gray-4 {
  color: hsl(210, 15%, 75%);
}

.gray-5 {
  color: hsl(210, 15%, 70%);
}

.gray-6 {
  color: hsl(210, 15%, 65%);
}

.gray-7 {
  color: hsl(210, 15%, 30%);
}

.gray-8 {
  color: hsl(210, 15%, 25%);
}

.gray-9 {
  color: hsl(210, 15%, 20%);
}

//

.blue-5 {
  color: hsl(210, 85%, 60%);
}

.indigo-4 {
  color: hsl(228.09, 95.77%, 72.16%);
}

.green-4 {
  color: hsl(130, 61.29%, 63.53%);
}

.red-4 {
  color: hsl(0, 100%, 76.47%);
}

.grape-4 {
  color: hsl(288.29, 82.55%, 70.78%);
}

.cyan-4 {
  color: hsl(186.75, 68.97%, 54.51%);
}

//

.violet-2 {
  color: #d0bfff;
}

.blue-2 {
  color: #a5d8ff;
}

.teal-2 {
  color: #96f2d7;
}

.lime-3 {
  color: #c0eb75;
}
