.Image {
  width: 30px;
  height: 30px;
  margin: -1px 0;
  box-shadow: 0 0 0 1px var(--content-color);

  &.border {
    border-width: 1px;
    // border-style: dashed;
    border-color: #adb5bd;
  }
}

.Stack {
  padding-left: 8px;
}

.StackItem {
  margin-left: -8px;
}
