:root {
  --primary-color: hsl(210, 85%, 60%);
  --content-color: hsl(210, 15%, 100%);

  --panel-color: hsl(210, 16.67%, 97.65%);
  --gutter-color: hsl(210, 16.67%, 95.29%);
  --icon-color: hsl(210, 15.79%, 92.55%);
  --divider-color: hsl(210, 13.79%, 88.63%);

  --text-color: hsla(210, 0%, 0%, 0.7);
  /* --selected-color: hsl(210, 100%, 93%); */
  --selected-color: hsl(205, 100%, 95.29%);
  --highlight-color: #fff3bf;
  --default-font: 'New Times Roman';

  --_14px-font-margin: -4px 0 -4px 0;
  --_12px-font-margin: -4px 0 -4px 0;

  --onyx-red-0: oklch(0.96 0.02 17.34);
  --onyx-pink-0: oklch(0.96 0.02 351.14);
  --onyx-grape-0: oklch(0.96 0.02 314.74);
  --onyx-violet-0: oklch(0.96 0.02 295.19);
  --onyx-indigo-0: oklch(0.96 0.02 269.09);
  --onyx-blue-0: oklch(0.96 0.02 238.66);
  --onyx-cyan-0: oklch(0.96 0.02 203.08);
  --onyx-teal-0: oklch(0.96 0.02 174.76);
  --onyx-green-0: oklch(0.96 0.02 151.19);
  --onyx-lime-0: oklch(0.96 0.02 121.48);
  --onyx-yellow-0: oklch(0.96 0.02 97.76);
  --onyx-orange-0: oklch(0.96 0.02 74.1);

  --onyx-red-1: oklch(0.93 0.03 17.7148);
  --onyx-pink-1: oklch(0.93 0.03 352.16);
  --onyx-grape-1: oklch(0.93 0.03 319.03);
  --onyx-violet-1: oklch(0.93 0.03 298.11);
  --onyx-indigo-1: oklch(0.93 0.03 270.9787);
  --onyx-blue-1: oklch(0.93 0.03 240.0056);
  --onyx-cyan-1: oklch(0.93 0.03 202.5);
  --onyx-teal-1: oklch(0.93 0.03 172.92);
  --onyx-green-1: oklch(0.93 0.03 148.83);
  --onyx-lime-1: oklch(0.93 0.03 122.93);
  --onyx-yellow-1: oklch(0.93 0.03 96.59);
  --onyx-orange-1: oklch(0.93 0.03 72.68);

  --onyx-red-2: oklch(0.87 0.07 18.39);
  --onyx-pink-2: oklch(0.87 0.07 355.09);
  --onyx-grape-2: oklch(0.87 0.07 319.46);
  --onyx-violet-2: oklch(0.87 0.07 296.6);
  --onyx-indigo-2: oklch(0.87 0.07 273.4979);
  --onyx-blue-2: oklch(0.87 0.07 241.66);
  --onyx-cyan-2: oklch(0.87 0.07 204.84);
  --onyx-teal-2: oklch(0.87 0.07 173.35);
  --onyx-green-2: oklch(0.87 0.07 148.43);
  --onyx-lime-2: oklch(0.87 0.07 124.18);
  --onyx-yellow-2: oklch(0.87 0.07 96.83);
  --onyx-orange-2: oklch(0.87 0.07 72.42);

  --onyx-red-3: oklch(0.80 0.11 19.5306);
  --onyx-pink-3: oklch(0.80 0.11 357.15);
  --onyx-grape-3: oklch(0.80 0.11 319.77);
  --onyx-violet-3: oklch(0.80 0.11 294.45);
  --onyx-indigo-3: oklch(0.80 0.11 272.27);
  --onyx-blue-3: oklch(0.80 0.11 243.83);
  --onyx-cyan-3: oklch(0.80 0.11 206.82);
  --onyx-teal-3: oklch(0.80 0.11 170.11);
  --onyx-green-3: oklch(0.80 0.11 147.8);
  --onyx-lime-3: oklch(0.80 0.11 125.92);
  --onyx-yellow-3: oklch(0.80 0.11 95.11);
  --onyx-orange-3: oklch(0.80 0.11 68.95);

  --onyx-red-4: oklch(0.74 0.14 21.1);
  --onyx-pink-4: oklch(0.74 0.14 358.8);
  --onyx-grape-4: oklch(0.74 0.14 319.53);
  --onyx-violet-4: oklch(0.74 0.14 292.12);
  --onyx-indigo-4: oklch(0.74 0.14 271.04);
  --onyx-blue-4: oklch(0.74 0.14 246.06);
  --onyx-cyan-4: oklch(0.74 0.14 207.56);
  --onyx-teal-4: oklch(0.74 0.14 167.92);
  --onyx-green-4: oklch(0.74 0.14 147.32);
  --onyx-lime-4: oklch(0.74 0.14 127.98);
  --onyx-yellow-4: oklch(0.74 0.14 92.22);
  --onyx-orange-4: oklch(0.74 0.14 64.6);

  --onyx-red-5: oklch(0.66 0.18 22.84);
  --onyx-pink-5: oklch(0.66 0.18 1.25);
  --onyx-grape-5: oklch(0.66 0.18 319.07);
  --onyx-violet-5: oklch(0.66 0.18 289.69);
  --onyx-indigo-5: oklch(0.66 0.18 269.5);
  --onyx-blue-5: oklch(0.66 0.18 248.32);
  --onyx-cyan-5: oklch(0.66 0.18 211.22);
  --onyx-teal-5: oklch(0.66 0.18 166.36);
  --onyx-green-5: oklch(0.66 0.18 146.61);
  --onyx-lime-5: oklch(0.66 0.18 129.8);
  --onyx-yellow-5: oklch(0.66 0.18 87.12);
  --onyx-orange-5: oklch(0.66 0.18 57.8);

  --onyx-red-6: oklch(0.60 0.2 24.52);
  --onyx-pink-6: oklch(0.60 0.2 3.19);
  --onyx-grape-6: oklch(0.60 0.2 318.91);
  --onyx-violet-6: oklch(0.60 0.2 288.56);
  --onyx-indigo-6: oklch(0.60 0.2 268.62);
  --onyx-blue-6: oklch(0.60 0.2 250.29);
  --onyx-cyan-6: oklch(0.60 0.2 210.62);
  --onyx-teal-6: oklch(0.60 0.2 164.88);
  --onyx-green-6: oklch(0.60 0.2 146.44);
  --onyx-lime-6: oklch(0.60 0.2 131.08);
  --onyx-yellow-6: oklch(0.60 0.2 78.12);
  --onyx-orange-6: oklch(0.60 0.2 51.48);
}
